* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #efefef;
  height: 100%;
  --project-color: #ffbb33;
  --background-dark: #222;
}